.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

span {
  cursor: pointer;
  font-weight: bold;
  color: #ff0000;
}

.search-box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
